{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
{% trans "Login" %}
{% endblock head_title %}
{% block content %}
    
    <div class="relative flex min-h-screen text-gray-800 antialiased flex-col justify-center overflow-hidden py-6 sm:py-12">
        <div class="relative py-3 sm:w-96 mx-auto text-center">
        <p>
            If you have not created an account yet, then please
            <a href="{{ signup_url }}">sign up</a> first.
        </p>
        {% element h1 %}
            <label class="block font-semibold">{% trans "Login" %}</label>
        {% endelement %}
        {% url 'account_login' as login_url %}
        {% element form form=form method="post" action=login_url tags="entrance,login" %}
            {% slot body %}
                {% csrf_token %}
                
                
                {% element fields form=form unlabeled=True %}
                    
                {% endelement %}
                {% if redirect_field_value %}
                    <input type="hidden"
                           name="{{ redirect_field_name }}"
                           value="{{ redirect_field_value }}"
                     />
               {% endif %}
            {% endslot %}
            {% slot actions %}
            {% element button type="submit" tags="prominent,login" %}
                <button type="submit" class="mt-4 bg-purple-500 text-white py-2 px-6 rounded-md hover:bg-purple-600 ">
                        {% trans "Login" %}
                </button>
            {% endelement %}
            {% endslot %}
        {% endelement %}
        {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
    </div>
{% endblock content %}

